$backgroundColor: rgb(20,20,20);
$mainTextColor: rgb(221,221,221);
$font-stack: 'Source Sans Pro', sans-serif;


@mixin flexCenter($direction){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin flexCustom ($jc, $ai, $fd ) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $fd;
}