@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap");
html {
  background-color: #141414;
  color: #dddddd;
  font-family: "Source Sans Pro", sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

nav .nav__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 200px;
  font-size: 22px;
  margin-right: 5rem;
}

nav .navigation__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 2rem;
}

nav .navigation__links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: clamp(14px, 1vw, 18px);
}

nav .navigation__links ul li {
  list-style: none;
  margin-right: 1.5rem;
}

nav img {
  width: clamp(100px, 5vw, 150px);
}

.card {
  position: relative;
  margin-right: 1vw;
}

.card > :first-child {
  width: 17vw;
  border-radius: 8px;
}

.card:hover > .card__detailed {
  opacity: 1;
  visibility: visible;
  z-index: 2;
  height: 200%;
  width: 130%;
}

.card .card__detailed {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: top;
      -ms-flex-pack: top;
          justify-content: top;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  background-color: #1e1e1e;
  border-radius: 8px;
}

.card .card__detailed .card__detailed--bottom {
  width: 100%;
}

.card .card__detailed .card__detailed--bottom .card__detailed--icons {
  font-size: 2em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 20px;
}

.card .card__detailed .card__detailed--bottom .card__detailed--icons > div:first-child {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card .card__detailed .card__detailed--bottom .card__detailed--icons > div:nth-child(2) {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.card .card__detailed .card__detailed--bottom .card__detailed--ra-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  padding: 0 20px;
  text-align: left;
}

.card .card__detailed .card__detailed--bottom .card__detailed--ra-name > p:nth-child(1) {
  color: #e50914;
}

.card .card__detailed .card__detailed--bottom .card__detailed--ra-name > p:nth-child(2) {
  margin-left: 30px;
}

.card .card__detailed .card__detailed--top .card__detailed--image {
  width: 100%;
}

.trending {
  font-size: 1vw;
  margin: 0px 3vw;
  width: 100vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.trending .tending__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper {
  padding: 100px 0px;
  overflow-x: hidden;
  overflow-y: hidden;
}
/*# sourceMappingURL=App.css.map */