@import "./variables&functions";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');


html{
    background-color: $backgroundColor;
    color: $mainTextColor;
    font-family: $font-stack;  
}

*{
    box-sizing: border-box;
}

nav{
    @include flexCustom(space-between, center, row);

    .nav__right{
        @include flexCustom(space-around, center, row);
        width: 200px;
        font-size: 22px;
        margin-right: 5rem
    }

.navigation__links{
    @include flexCustom(left, center, row);
    margin-left: 2rem;

    .navicons{
      
    }

    ul{
        @include flexCenter(row);
        font-size: clamp(14px, 1vw, 18px);

        li{
            list-style: none;
            margin-right: 1.5rem;
        }
    }

    img{
       width: clamp(100px, 5vw, 150px)
    }
}
}

.card{
    position: relative;
   img{
       width: 19vw;
       margin-right: 1vw;
       border-radius: 8px;
   }
}

.trending{
    font-size: 1vw;
    flex-direction: column;
    padding: 0px 30px;
   
   & div:nth-child(2){
        width: 100%;
        overflow: hidden;
     
    }
    .tending__cards{
      display: flex;
    }
}

.card__detailed{
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 2;
}