@import "./variables&functions";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');


html{
    background-color: $backgroundColor;
    color: $mainTextColor;
    font-family: $font-stack;  
}

*{
    box-sizing: border-box;
}

nav{
    @include flexCustom(space-between, center, row);

    .nav__right{
        @include flexCustom(space-around, center, row);
        width: 200px;
        font-size: 22px;
        margin-right: 5rem
    }

.navigation__links{
    @include flexCustom(left, center, row);
    margin-left: 2rem;

    .navicons{
      
    }

    ul{
        @include flexCenter(row);
        font-size: clamp(14px, 1vw, 18px);

        li{
            list-style: none;
            margin-right: 1.5rem;
        }
    }

     
    }
    img{
       width: clamp(100px, 5vw, 150px)
    }
}


.card{
    position: relative;
    margin-right: 1vw;
   img{
       width: 19vw;
       border-radius: 8px;
   }

   &:hover > .card__detailed{
      @include visible;
      height: 300%;
      width: 150%;
   }

   .card__detailed{
    @include absolutecenter;
    @include invisible;
    @include flexCustom(center, center, column);
    height: 100%;
    width: 100%;
    transition: all 300ms;
   
    background-color: rgb(126, 111, 111);
 
    

.card__detailed--image{
    top: 0;
    width: 100%;
}
   
    
}

}

.trending{
    font-size: 1vw;
    flex-direction: column;
    margin: 0px 30px;
    width: 100VW;
    height: 400px;
    overflow-x: hidden;
    overflow-y: visible;
    white-space: nowrap;
   
  
    .tending__cards{
      display: flex;
    }
}



