@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap");
html {
  background-color: #141414;
  color: #dddddd;
  font-family: "Source Sans Pro", sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav-colored {
  background-color: black;
}

.nav-transparent {
  background-color: transparent;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 98;
  -webkit-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
}

nav .nav__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 40%;
  font-size: 22px;
  margin-right: 5rem;
}

nav .navigation__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 2rem;
}

nav .navigation__links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: clamp(14px, 1vw, 18px);
}

nav .navigation__links ul li {
  list-style: none;
  margin-right: 1.5rem;
  padding: 0.5em 0px;
  cursor: not-allowed;
}

nav img {
  width: clamp(100px, 5vw, 150px);
}

video {
  width: 100%;
}

.card {
  position: relative;
  margin-right: 3vw;
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
}

.card > :first-child {
  width: 17vw;
  border-radius: 8px;
}

.card:hover > .card__detailed {
  opacity: 1;
  visibility: visible;
  z-index: 4;
  height: 260%;
  width: 135%;
}

.card .card__detailed {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: top;
      -ms-flex-pack: top;
          justify-content: top;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  background-color: #1e1e1e;
  border-radius: 8px;
}

.card .card__detailed .card__detailed--bottom {
  width: 100%;
}

.card .card__detailed .card__detailed--bottom .card__detailed--icons {
  font-size: 2em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 20px;
}

.card .card__detailed .card__detailed--bottom .card__detailed--icons > div:first-child {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card .card__detailed .card__detailed--bottom .card__detailed--icons > div:first-child > * {
  cursor: pointer;
}

.card .card__detailed .card__detailed--bottom .card__detailed--icons > div:nth-child(2) {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.card .card__detailed .card__detailed--bottom .card__detailed--icons > div:nth-child(2) > * {
  cursor: pointer;
}

.card .card__detailed .card__detailed--bottom .card__detailed--ra-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  padding: 0 20px;
  text-align: left;
  font-size: 1.1em;
  font-weight: 600;
}

.card .card__detailed .card__detailed--bottom .card__detailed--ra-name > p:nth-child(1) {
  color: #e50914;
  border-top: solid 2px white;
  border-bottom: solid 2px white;
}

.card .card__detailed .card__detailed--bottom .card__detailed--ra-name > div:nth-child(2) {
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card .card__detailed .card__detailed--bottom .card__detailed--ra-name > div:nth-child(2) > p:nth-child(2) {
  margin: 0 0.5em;
}

.card .card__detailed .card__detailed--bottom .card__detailed--ra-name .star-icon {
  margin-left: 0.4em;
  color: #d2a100;
  padding-top: 0.2em;
}

.card .card__detailed .card__detailed--bottom ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.card .card__detailed .card__detailed--bottom ul li {
  margin-right: 3em;
  list-style: circle;
  font-size: 0.7vw;
}

.card .card__detailed .card__detailed--top .card__detailed--image {
  width: 100%;
}

.trending {
  font-size: 1vw;
  margin: 5vw 1vw;
  width: 100vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.trending .arrowRight, .trending .arrowLeft {
  font-size: 2.6vw;
  position: absolute;
  z-index: 10;
  right: 1%;
  margin-top: 3.5%;
  cursor: pointer;
  -webkit-transition: 300ms all;
  transition: 300ms all;
  color: red;
}

.trending .arrowRight :hover, .trending .arrowLeft :hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.trending .arrowLeft {
  left: 1%;
  display: none;
}

.trending .tending__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper {
  z-index: 70;
  margin-top: -1vh;
  padding: 22vw 0px;
  padding-bottom: 4vw;
  overflow-x: hidden;
  overflow-y: hidden;
}

.modal__wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 98;
}

.modal__wrapper .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: clamp(400px, 40vw, 700px);
  height: clamp(400px, 80vh, 700px);
  background-color: #1e1e1e;
  position: fixed;
  z-index: 99;
  overflow-x: auto;
  border-radius: 10px;
}

.modal__wrapper .modal::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #ff0101;
}

.modal__wrapper .modal::-webkit-scrollbar {
  width: 10px;
  background-color: #ff0101;
}

.modal__wrapper .modal::-webkit-scrollbar-thumb {
  background-color: #000000;
  border: 2px solid #000000;
}

.modal__wrapper .modal .modal__text {
  padding: 2em;
}

.modal__wrapper .modal .modal__text h1 {
  color: #e50914;
  font-size: 1.6em;
}

.modal__wrapper .modal .modal__text > p:nth-child(3) {
  font-size: 1em;
}

.modal__wrapper .modal .modal__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1em;
}

.modal__wrapper .modal .modal__details span {
  color: #d2a100;
  margin-right: 0.3em;
}

.modal__wrapper .modal .modal__details > p {
  margin-right: 2em;
}

.gradient, .video__wrapper .gradient__main {
  position: relative;
}

.gradient .gradient__color, .video__wrapper .gradient__main .gradient__color, .gradient .gradient__main--color, .video__wrapper .gradient__main .gradient__main--color {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 0, 0, 0)), to(#1e1e1e));
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), #1e1e1e);
}

.gradient img, .video__wrapper .gradient__main img {
  width: 100%;
}

.video__wrapper {
  position: absolute;
  z-index: -1;
}

.video__wrapper .video__wrapper--text {
  letter-spacing: 0.4em;
  font-size: 2vw;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  z-index: 90;
  left: 3vw;
  top: 10%;
  text-shadow: 2px 2px #e50914;
}

.video__wrapper .video__wrapper--text button:nth-child(2) {
  font-weight: 700;
  font-size: 0.6em;
  padding: 0.6vw 2.6vw;
  border-radius: 0.2em;
  outline: none;
  border: none;
}

.video__wrapper .video__wrapper--text button:nth-child(3) {
  font-weight: 700;
  font-size: 0.6em;
  padding: 0.6vw 2.6vw;
  border-radius: 0.2em;
  outline: none;
  border: none;
  margin-left: 1em;
  background-color: rgba(99, 94, 95, 0.5);
  color: white;
  cursor: pointer;
}

.video__wrapper .video__wrapper--text .icon {
  margin-right: 10px;
}

.gradient__main--color {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, rgba(255, 0, 0, 0)), color-stop(95%, #141414)) !important;
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0) 60%, #141414 95%) !important;
}

.loading {
  margin-right: 1vw;
  background-color: #353333;
  border-radius: 8px;
  -webkit-animation: pulsategray 1s alternate infinite;
          animation: pulsategray 1s alternate infinite;
}

@-webkit-keyframes pulsategray {
  0% {
    background-color: #353333;
  }
  100% {
    background-color: #515151;
  }
}

@keyframes pulsategray {
  0% {
    background-color: #353333;
  }
  100% {
    background-color: #515151;
  }
}

.loading > div {
  width: 17vw;
  opacity: 1;
  height: 9vw;
}

.search__contain {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 70%;
}

.search__contain #search {
  width: 1.3em;
  height: 1.3em;
  padding: 1.3em;
  border-radius: 1.3em;
  border: white 2px solid;
  background-color: black;
  cursor: pointer;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  color: white;
  opacity: 0;
}

.search__contain #search__button {
  position: absolute;
  z-index: 2;
  right: 1.6%;
  cursor: pointer;
}

.signup {
  width: 100%;
  height: 98.2vh;
  background-size: cover;
}

.signupcard {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: clamp(400px, 30vw, 600px);
  height: 68vh;
  background-color: rgba(0, 0, 0, 0.7);
}

.signupcard form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 10% 13%;
}

.signupcard form h1 {
  font-size: 2.5em;
}

.signupcard form input {
  background-color: #4d4d4d;
  width: 100%;
  padding: 1.4em 2em;
  margin-bottom: 2em;
  outline: none;
  border: none;
  border-radius: 0.4em;
  color: white;
}

.signupcard form input::-webkit-input-placeholder {
  color: #b49f9f;
}

.signupcard form input:-ms-input-placeholder {
  color: #b49f9f;
}

.signupcard form input::-ms-input-placeholder {
  color: #b49f9f;
}

.signupcard form input::placeholder {
  color: #b49f9f;
}

.signupcard form button {
  outline: none;
  border: none;
  border-radius: 0.4em;
  width: 100%;
  padding: 1em 2em;
  font-size: 1.2em;
  color: white;
  background-color: #e50914;
  cursor: pointer;
}

.signupcard #signin__redirect {
  cursor: pointer;
  font-weight: bold;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer li {
  padding: 1em 2em;
  list-style: none;
  color: #4d4d4d;
}

#thumbsup, #thumbsdown {
  -webkit-transition: color 300ms;
  transition: color 300ms;
}
/*# sourceMappingURL=App.css.map */